
nav{
  height:70px;
  background-color: #329ba8;
  justify-content: center;
  display: flex;
  align-items: center;
}
.image1{
  margin:35px;
  width:170px;
  height:190px;
  
}
.traveldetails
{
  display:flex;
}
.description
{
   width:500px;
   overflow-wrap: break-word;
  word-wrap: break-word;
   word-break: break-word;
}